%h1 Listing products

%table
  %tr
    %th Name
    %th Shop
    %th Description
    %th Image url
    %th Price
    %th Recommended
    %th
    %th
    %th

  - @products.each do |product|
    %tr
      %td= product.name
      %td= product.shop.name
      %td= simple_format(product.description)
      %td= image_tag(product.image_url)
      %td= product.price
      %td= product.recommended
      %td= link_to 'Show', product
      %td= link_to 'Edit', edit_product_path(product)
      %td= link_to 'Destroy', product, :confirm => 'Are you sure?', :method => :delete

=will_paginate @products
%br
 
=link_to 'New Product', new_product_path

