%tr
  %td
    = cart_item.name
    &times;
    = cart_item.quantity
  %td.item-price
    = cart_item.price
    円
  %td
    = form_tag({:action => "remove_item_from_cart", :id => cart_item.product_id}, :remote => true, :class => "order") do
      = submit_tag 'キャンセル'
